:global{
    h2{
        width:100%;
        line-height: 80px;
    }
    .adduser,.showuser{
        width:100%;
        flex:1;
        overflow-y: scroll;
        box-sizing: border-box;
        padding:0 20px;
        .detail{
            width:100%;
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
           .userlist{
              width:33%;
              height:auto;
              border:1px solid #ccc;
              border-radius: 10px;
              box-sizing: border-box;
              padding:10px;
              margin-bottom:5px;
              .useinp{
                  margin:15px 0;
                  input{
                      margin:10px 0;
                  }
              }
              button{
                  margin:0 10px;
              }
           }
        }
    }
}