:global{
    .paperPage{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
    .paperTitle{
        width: 97%;
        height: 160px;
        background: #fff;
        display: flex;
        padding-top: 15px;
        margin: 15px 30px;
        justify-content: space-around;
        border-radius: 8px;
    }
  .mainList{
    width: 97%;
    height:auto;
    background: #fff;
    padding-top: 15px;
    margin: 20px 30px;
    border-radius: 8px;
  }
  .mainTitle{
      width: 100%;
      display: flex;
      justify-content: space-between;
  }
  .spn{
      display: inline-block;
      padding: 10px 10px;
      border: 1px solid #ccc;
      margin: 30px 2px;
  }
  .bor{
    border: 1px solid blue;
  }
}